@model LoginDTO
@{
    Layout = "_AuthLayout";
}
@if (ViewBag.ErrorMessage != null)
{
    <div style="text-align: center" role="alert">
        <span style="color: red">@ViewBag.ErrorMessage</span>
    </div>
}
<form id="loginForm" asp-controller="Auth" asp-action="Login" method="post">
    <h2>Giriş Yap</h2>
    <input asp-for="UserName" type="text" placeholder="Kullanıcı Adı" required>
    <input asp-for="Password" type="password" placeholder="Parola" required>
    <button class="btn">Giriş Yap</button>
    <a class="switch" asp-controller="Auth" asp-action="Register" method="get">Hesap oluştur</a>
</form>
<div class="success" id="successBox">
    <div class="check">✓</div>
    <h2>Başarılı!</h2>
    <p>Demo giriş tamamlandı.</p>
</div>