@model RegisterDTO
@{
    Layout = "_AuthLayout";
}
@if (ViewBag.ErrorMessage != null)
{
    <div style="text-align: center" role="alert">
        <span style="color: red">@ViewBag.ErrorMessage</span>
    </div>
}
<form id="registerForm" asp-controller="Auth" asp-action="Register" method="post">
    <h2>Hesap Oluştur</h2>

    <div class="grid">
        <input asp-for="Name" placeholder="İsim" required>
        <input asp-for="Surname" placeholder="Soyisim" required>
        <input asp-for="UserName" placeholder="Kullanıcı Adı" required>
        <input asp-for="Email" type="email" placeholder="Email" required>
        <input asp-for="Password" type="password" id="password" placeholder="Parola" required>
    </div>

    <div class="strength"><div class="bar"></div></div>

    <button class="btn">Hesap Oluştur</button>
    <a class="switch" asp-controller="Auth" asp-action="Login">Giriş yap</a>
</form>
