<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auth</title>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script type="importmap"></script>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/js/auth.js"></script>
    <script type="importmap"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
</head>
<body>
    
    <button class="theme-toggle" id="themeToggle">
        <span id="themeIcon">🌙</span>
    </button>

    <div class="container">

        <div class="card">
            @RenderBody()
        </div>
    </div>

</body>
</html>
