@model DeviceDTO
@{
    ViewData["Title"] = "Device Create Page";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
<form id="loginForm" asp-controller="Device" asp-action="Update" method="post">
    <input type="hidden" asp-for="ID"/>
    <input type="hidden" asp-for="IsDeleted"/>
    <input type="hidden" asp-for="DeletedDate"/>
    <div class="form-group">
        <label asp-for="SerialNumber">Seri No</label>
        <input class="form-control" asp-for="SerialNumber">
    </div>
    <div class="form-group">
        <label asp-for="Name">Cihaz İsmi</label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="form-group">
        <label asp-for="PetName">Evcil Dost İsmi</label>
        <input class="form-control" asp-for="PetName">
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>

