@model IEnumerable<DeviceDTO>
@{
    ViewData["Title"] = "Device List Page";
}
<table id="example" class="table table-striped">
    <thead>
        <tr>
            <th>Seri No</th>
            <th>Cihaz İsmi</th>
            <th>Evcil Dost İsmi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.PetName</td>
                <td>@item.SerialNumber</td>
            </tr>
        }
    </tbody>
</table>

